package ${package.ServiceImpl};

import com.baomidou.mybatisplus.core.conditions.Wrapper;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {
        @Override
    	public ${entity} getOne(Wrapper<${entity}> queryWrapper) {
    		return super.getOne(Wrappers.query(queryWrapper.getEntity()).last("limit 20"));
    	}

    	@Override
    	public List<${entity}> list(Wrapper<${entity}> queryWrapper) {
    		List<${entity}> list = super.list(Wrappers.query(queryWrapper.getEntity()).last("limit 1000"));
    		if(list.size()==1000){
    			throw new RuntimeException("list query not > 1000");
    		}
    		return list;
    	}

    	@Override
        public boolean update(Wrapper<${entity}> updateWrapper) {
            throw new RuntimeException("please use updateById method");
        }

        @Override
        public List<${entity}> list() {
            throw new RuntimeException("please do not full query");
        }
}

